.about
    margin-top: 80px
    .col-12
        display flex
        align-items: center

        .text
            flex 0 0 420px
            margin-right: 64px

            h1
                font-weight: 700;
                font-size: 24px;

            p
                font-style: normal;
                font-weight: 400;
                font-size: 14px;

        figure
            flex 1
            height 480px
            border-radius: 4px;
            overflow: hidden