.categoryList
    width 100%
    display flex
    justify-content: space-between
    list-style: none
    height 48px
    align-items: center
    padding 0
    margin-bottom: 0

    a
        text-decoration: none
        font-style: normal;
        color: #353535
        font-weight: 400;
        font-size: 14px;
        display flex
        align-items: center
        width 93px

        img
            margin-right 9px

        &:hover
            color #FAA500
            font-weight: 700;