.fullBanner
    .carousel-control-prev-icon
        background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjAiIGhlaWdodD0iMzIiIHZpZXdCb3g9IjAgMCAyMCAzMiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTAuNTE0OTcxIDE0Ljc1NjFMMTQuNzU2OCAwLjUxNDk3MUMxNS40NDM0IC0wLjE3MTY1NyAxNi41NTczIC0wLjE3MTY1NyAxNy4yNDM5IDAuNTE0OTcxTDE4LjkwNTIgMi4xNzYyMUMxOS41OTExIDIuODYyMTEgMTkuNTkxOCAzLjk3MzAyIDE4LjkwODEgNC42NjAzOEw3LjYyMDg3IDE1Ljk5OTZMMTguOTA3NCAyNy4zMzk2QzE5LjU5MTggMjguMDI3IDE5LjU5MDMgMjkuMTM3OSAxOC45MDQ0IDI5LjgyMzhMMTcuMjQzMiAzMS40ODVDMTYuNTU2NiAzMi4xNzE3IDE1LjQ0MjcgMzIuMTcxNyAxNC43NTYxIDMxLjQ4NUwwLjUxNDk3MSAxNy4yNDMyQy0wLjE3MTY1NyAxNi41NTY2IC0wLjE3MTY1NyAxNS40NDI3IDAuNTE0OTcxIDE0Ljc1NjFaIiBmaWxsPSIjMzUzNTM1Ii8+Cjwvc3ZnPgo=");

    .carousel-control-next-icon
        background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjAiIGhlaWdodD0iMzIiIHZpZXdCb3g9IjAgMCAyMCAzMiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTE4LjkwNDcgMTcuMjQzNkw0LjY2MzMgMzEuNDg0OUMzLjk3NjQ2IDMyLjE3MTcgMi44NjI5MSAzMi4xNzE3IDIuMTc2MTMgMzEuNDg0OUwwLjUxNTExNyAyOS44MjM4Qy0wLjE3MDU1NiAyOS4xMzgyIC0wLjE3MTg3NSAyOC4wMjY5IDAuNTEyMTg2IDI3LjMzOTZMMTEuNzk4NyAxNkwwLjUxMjE4NiA0LjY2MDM5Qy0wLjE3MTg3NSAzLjk3MzEgLTAuMTcwNTU2IDIuODYxODIgMC41MTUxMTcgMi4xNzYxNUwyLjE3NjEzIDAuNTE1MTM0QzIuODYyOTggLTAuMTcxNzExIDMuOTc2NTMgLTAuMTcxNzExIDQuNjYzMyAwLjUxNTEzNEwxOC45MDQ2IDE0Ljc1NjRDMTkuNTkxNCAxNS40NDMyIDE5LjU5MTQgMTYuNTU2NyAxOC45MDQ3IDE3LjI0MzZaIiBmaWxsPSIjMzUzNTM1Ii8+Cjwvc3ZnPgo=");

    .carousel-indicators [data-bs-target]
        width 16px
        height: 16px
        border-radius: 16px
        border 1px solid #FAA500
        background-color: transparent

    .carousel-indicators .active
        background-color: #FAA500