.headerTop
    height: 88px
    display: flex
    align-items: center

.header
    &__search
        width 100%
        max-width 790px
        display flex
        justify-content: space-between
        align-items: center

        form
            width: 100%
            height 40px
            background: #EFEFEF
            border-radius: 10px
            display flex

            button
                width 500px
                max-width: 199px
                flex 0 0 119px
                height 40px
                border-radius: 10px
                background: #FAA500
                border 0
                color: #FFFFFF
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 21px;
                transition all .3s linear

                &:hover
                    max-width: 200px
                    flex 0 0 200px

            input
                flex 1
                height: 40px
                appearance: none
                background-color: transparent
                border-radius: 10px
                border 0
                outline: 0
                padding 0 24px
                display flex
                align-items: center
                font-style: normal;
                font-weight: 400;
                font-size: 12px;
                line-height: 18px;
                color: #353535;


.logo
    flex: 1
    display flex
    align-items: center

.header__account
    flex 0 0 420px