.header__account
    display flex
    align-items: center
    justify-content: center
    padding-left: 130px

    .cart
        border: 1px solid #FAA500;
        border-radius: 8px;
        display: flex
        justify-content: center
        align-items: center
        padding 12px 14px

    > div
        display flex
        align-items: center
        margin 0 20px

        img 
            transition: all .3s linear

        &:hover 
            img
                transform translateY(-5px)

    a
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        color: #353535;
        white-space: nowrap
        display flex
        align-items: center
        text-decoration: none
        margin-left: 8px