.rodape
    background: #353535;
    height: 85px
    display: flex
    align-items: center

    @media screen and (max-width 1023px)
        height: auto
        padding: 15px 0

        .row > div
            margin-top: 20px

    .socials,
    .cards,
    .developers
        display: flex
        align-items: center

    .developers
        justify-content: flex-end

    .cards
        justify-content: center

        @media screen and (max-width 1023px)
            justify-content: flex-start

    figure
        display: inline-block
        margin 0 11px

        @media screen and (max-width 1023px)
            &:first-child
                margin-left: 0
        

    a
        display: flex
        margin-right: 25px
        transition: all .3s linear

        &:hover
            transform: translateY(-5px)
