.vitrine
    height: calc(585px + 148px)

    h1
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        width: 100%
        text-align: center
        margin 80px 0 30px 0

    .swiper-button-next, 
    .swiper-button-prev
        top: 47%

    .swiper-button-prev, 
    .swiper-rtl .swiper-button-next
        left: 0

    .swiper-button-next, 
    .swiper-rtl .swiper-button-prev
        right: 0

    .swiper-button-next:after, 
    .swiper-rtl .swiper-button-prev:after
        transform rotate(180deg)


    .swiper-button-next:after, 
    .swiper-button-prev:after
        width: 19px
        height: 32px
        font-size: 0
        background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjAiIGhlaWdodD0iMzIiIHZpZXdCb3g9IjAgMCAyMCAzMiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTAuNTE0OTcxIDE0Ljc1NjFMMTQuNzU2OCAwLjUxNDk3MUMxNS40NDM0IC0wLjE3MTY1NyAxNi41NTczIC0wLjE3MTY1NyAxNy4yNDM5IDAuNTE0OTcxTDE4LjkwNTIgMi4xNzYyMUMxOS41OTExIDIuODYyMTEgMTkuNTkxOCAzLjk3MzAyIDE4LjkwODEgNC42NjAzOEw3LjYyMDg3IDE1Ljk5OTZMMTguOTA3NCAyNy4zMzk2QzE5LjU5MTggMjguMDI3IDE5LjU5MDMgMjkuMTM3OSAxOC45MDQ0IDI5LjgyMzhMMTcuMjQzMiAzMS40ODVDMTYuNTU2NiAzMi4xNzE3IDE1LjQ0MjcgMzIuMTcxNyAxNC43NTYxIDMxLjQ4NUwwLjUxNDk3MSAxNy4yNDMyQy0wLjE3MTY1NyAxNi41NTY2IC0wLjE3MTY1NyAxNS40NDI3IDAuNTE0OTcxIDE0Ljc1NjFaIiBmaWxsPSJibGFjayIvPgo8L3N2Zz4K");
        background-repeat: no-repeat

    .vitrineContainer
        height: 585px

        .swiper
            height: 100%

        .produto
            display flex
            flex-direction: column

            figure
                width: 100%
                margin-bottom: 10px
                
                img
                    width 100%

            .buy
                width 100%

                button
                    display: flex
                    justify-content: center
                    align-items: center
                    outline: 0
                    border 0
                    color #fff
                    height: 35px
                    width: 100%
                    background: #FAA500;
                    border-radius: 4px;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;

            .description
                font-style: normal;
                font-weight: 400;
                font-size: 12px;
                margin-bottom: 8px
                height: 54px

            .title
                font-style: normal;
                font-weight: 500;
                font-size: 16px;

            .price
                font-style: normal;
                font-weight: 700;
                font-size: 20px;

            .variations
                width 100%
                height: 27px

                display: flex
                margin-bottom: 8px

                > span
                    flex: 0 0 27px
                    height: 27px
                    border-radius: 4px;
                    margin-right: 8px
                    cursor pointer

                    &:hover
                        border 1px solid #000

                    &.black
                        background-color: #000
                    &.blue
                        background-color: #6497D3
                    &.purple
                        background-color: #3C3B79

                    &.red
                        background-color: #D84E4B
                    &.brown
                        background-color:#CFC9B0
                    &.gray
                        background-color: #EAE9E5